<legend><b><%= @team.team_name %>'s Task
<% user_type = current_user.get_current_user_type(current_user.id, @team) %>
<% if user_type == "Team Lead" %>
  <%= link_to "Create New Task", new_task_path(team_id: params[:team_id]), class: "btn pull-right" %>
<% end %></b></legend>

<table class = "table table-striped">
  <thead>
    <tr>
      <th>Team</th>
      <th>User</th>
      <th>Title</th>
      <th>Details</th>
      <th>Status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  
<% @tasks.each do |task| %>
  <tr>
    <td><%= task.team.team_name %></td>
    <td><%= task.user.first_name + " " + task.user.last_name %></td>
    <td><%= task.title %></td>
    <td><%= task.details %></td>
    <td><%= task.status %></td>
    <td><%= link_to 'Show', task, class: "btn" %></td>
    <td><%= link_to 'Edit', edit_task_path(task), class: "btn" %></td>
    <% user_type = current_user.get_current_user_type(current_user.id, @team) %>
    <% if user_type == "Team Lead" %>
      <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn" %></td>
    <% end %>
  </tr>
<% end %>
</table>


<table class = "table table-striped">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>E-mail</th>
      <th>Mobile No.</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
<legend><b>Team Members</b></legend>
<% @user.each do |user| %>
  <tr>
    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>
    <td><%= user.email %></td>
    <td><%= user.mobile_no %></td>
    <% user_type = current_user.get_current_user_type(current_user.id, @team) %>
    <% if user_type == "Team Lead" %>
      <td><%= link_to 'Give FeedBack', new_team_user_feedback_path(@team, user),  class: "btn" %></td>
    <% end %>
    <% if user_type == "Team Lead" || current_user.id == user.id %>
      <td><%= link_to 'Show FeedBack', team_user_feedbacks_path(@team, user), class: "btn" %></td>
    <% end %>
  </tr>
<% end %>
</table>
