<legend><h4>My Tasks</h4></legend>

<table class = "table table-striped" >
  <thead>
    <tr>
      <th>Team</th>
      <th>User</th>
      <th>Title</th>
      <th>Details</th>
      <th>Status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  
<% @tasks.each do |task| %>
  <tr>
    <td><%= task.team.team_name %></td>
    <td><%= task.user.first_name + " " + task.user.last_name %></td>
    <td><%= task.title %></td>
    <td><%= task.details %></td>
    <td><%= task.status %></td>
    <td><%= link_to 'Show', task, class: "btn" %></td>
    <td><%= link_to 'Edit', edit_task_path(task), class: "btn" %></td>
    <% if is_team_lead?(task.team) %>
      <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn" %></td>
    <% end %>
  </tr>
<% end %>
</table>
