<p id="notice"><%= notice %></p>

<legend>Task Details</legend>

<table class = "table table-striped" >

  <tr>
    <td><b>Team:</b></td>
    <td><%= @team_details.team_name %></td>
  </tr>

  <tr>
    <td><b>User:</b></td>
    <td><%= @user_details.first_name + " " + @user_details.last_name %></td>
  </tr>

  <tr>
    <td><b>Title:</b></td>
    <td><%= @task_details.title %></td>
  </tr>

  <tr>
    <td><b>Details:</b></td>
    <td><%= @task_details.details %></td>
  </tr>
  
  <tr>
    <td><b>Status:</b></td>
    <td><%= @task_details.status %></td>
  </tr>
  
</table>

<%= link_to 'Back', tasks_path %>
