<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TaskMonitoring</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%#= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="navbar navbar-fluid-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          
          <a class="brand" href="#">TaskMonitoring</a>
           <div class="nav-collapse collapse navbar-responsive-collapse">
             <ul class="nav">
             </ul>
             <ul class="nav pull-right">
              <% if current_user.present? %>
                <li><%= link_to "My Home", home_index_path %></li>
                <li><%= link_to "Edit My Profile", edit_user_registration_path %></li>
                <li><%= link_to "Logout", destroy_user_session_path, method: 'DELETE' %></li>
              <%else%>
                <li><%= link_to "SignIn", new_user_session_path %></li>
              <%end%>
             </ul>
           </div><!-- /.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid-inner">
        <% if current_user.present? %>
          <div class="span3">
            <div class="well sidebar-nav">
              <ul class="nav nav-list">
                <li class="nav-header"><h5><%= current_user.email %></h5></li>
                <li><legend><h4><b>My Tasks</b></h4></legend></li>
                <li><b><%= link_to "All Task", tasks_path, class: "btn btn-block"  %></b></li>
                <li><legend><h4><b>My Teams</b></h4></legend></li>
                <% current_user.teams.each do |team| %>
                  <li><b><%= link_to team.team_name, team_team_tasks_path(team.id), class: "btn btn-block" %></b></li>
                <% end %>
              </ul>
            </div><!--/.well -->
          </div>
        <% end %>
      </div>
        <!--/span-->
      
      <div class="row-fluid-inner">
        <div class="span9">
          
              <%= bootstrap_flash %>
              <%= yield %>
           
        </div>        
      </div><!--/row-->
    </div> <!-- /container -->

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>

  </body>
</html>
